@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(148 163 184);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #37455b;
}

::-webkit-scrollbar-thumb {
  background: #1c182b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #211c35;
}
